.projectCard
    scroll-snap-align: start
    scroll-margin: 0 10px
    min-height: 800px
    min-width: 500px
    font: 1.3em
    width: auto
    height: fit-content
    display: flex
    align-items: center
    scroll-snap-align: center
    @media all and (max-width:1200px)
        max-width: 400px
        align-items: start
    @media screen and (max-width: 375px)
        min-width: 100%
        min-height: 250px
        max-height: fit-content

.cBody
    top: 10%
.list-group-flush
    background-color: rgba(121, 120, 120, 0.1)
    width: 100%
    padding: 10px
    .container
        width: fit-content

.card-body
    margin: 0
    height: fit-content
    min-height: 250px
    padding: 1em
    @media screen and (max-width: 375px)
        min-width: 350px
        min-height: fit-content
        max-height: 200px

.cardImg
    max-height: 200px
    max-width: 100%
    width: auto
    height: auto
    align-self: center
    object-fit: cover
    border-radius: 10px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

.projectContainer
    height: 100vh
    overflow: scroll
    scrollbar-width: none
    width: 50%
    @media all and (max-width: 500px)
        width: 100%
        bottom: -10%
.workCont

    max-width: 1500px
    max-height: 1200px
    width: auto
    gap: .5em
    height: 700px
    margin: auto
    overflow-x: scroll
    scroll-nap-type: x mandatory
    justify-content: space-between
    align-items: center
    scrollbar-width: none
    flex-flow: row nowrap

    @media all and (max-width:900px)
        overflow-x: scroll
        width: 2000px
        gap: .5em
    .card-title
        font-size: 1.3em
        font-weight: bold
        color: #000
    .card-text
        font-size: 1.3em
        color: #000
